ansi2html==1.8.0
attrs==22.1.0
commonmark==0.9.1
Faker==13.15.1
future==0.18.2
iniconfig==1.1.1
packaging==21.3
Pillow==9.2.0
pluggy==1.0.0
py==1.11.0
pyfiglet==0.8.post1
Pygments==2.12.0
pyparsing==3.0.9
pyTermTk==0.10.8a0
pytest==7.1.2
pytest-tui==0.9.8.3
python-dateutil==2.8.2
rich==12.5.1
single-source==0.3.0
six==1.16.0
strip-ansi==0.1.1
textual==0.1.18
toml==0.10.2
tomli==2.0.1
typing_extensions==4.3.0
wcwidth==0.2.5
